html
  head
    title= title
  body
    h1= message
    div
      img(src='images/1.jpg', style='width:500px')
    br
    div
      img(src='images/2.jpg', style='width:500px')  
    br
    div
      img(src='images/3.jpg', style='width:500px')
